/*--Main CSS--*/
html {
  font-family: 'Oswald', sans-serif;
  align-content: center;
}

body {
  background-color: #F1F0F9;
}

.main-content {
display: flex;
flex-direction: column;
justify-content: space-around;
margin: auto;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: #170D73;
  color: white;
  max-width: 100%;
}

h3 {
  margin-top: 10px;
  margin-bottom: -.5em;
}

.signup {
  text-align: center;
}


form {
  display: inline-block;
  margin: auto;
  border: none;
}

form > input {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

fieldset {
  border: 0;
  border-top: 7px solid black;

}


legend {
  font-size: large;
  font-weight: 700;
  float: left;
  width: 100%;
}

label {
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
}

#name,
#email,
#tel,
#address,
#city,
#state,
#topics {
  background-color: lightgrey;
  width: 100%;
  align-content: center;
  padding-top: 10px;
  border-radius: 5px 5px 5px 5px;
  padding-bottom: 6px;
}

#zip {
  align-content: center;
  width: 40%;
  background-color: lightgrey;
  align-content: center;
  padding-top: 10px;
  border-radius: 5px 5px 5px 5px;
  padding-bottom: 6px;
}

::-webkit-input-placeholder {
    text-align:right;
  }

.news {
  margin-bottom: 10px;
  padding-top: 20px;
}

#plain_text {
  margin-bottom: 20px;
}

#topics {
  padding-bottom: 50px;
  margin-top: 10px;
}

button {
  display: inline-block;
  width: 100%;
  align-content: center;
  color: white;
  background-color: #9EE2C4;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  text-align: center;
}

/*--Media Queries--*/

@media (min-width: 768px) {

  .main-content,
  .signup,
  .huey {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
  }


.form-group {
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

label {
  display: inline-flex;
  width: 40%;
}





}
